body{
    background-color:paleturquoise;
}
.box{
    background-color: palevioletred;
    color:lavenderblush;
    text-align: center;
    
}

h1{
    color:lightpink;
    text-align: center;
}
h3{
    background-color: plum;
}